body {
    background-image: url(../images/platform934-homepage-announcement-banner_2880x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    color: rgb(53, 4, 4);
    font-size: 29px;
    margin-left: -8px;
    opacity: 0.8;
}

h2 {
    font-size: 20px;
    color: rgb(116, 15, 12);
    font-weight: bold;
    opacity: .5;
}

h3 {
    color: rgb(231, 219, 219);
}

th {
    color: rgb(231, 219, 219);
    font-weight: bolder;
}

table {
    margin-top: 60px;
}

.panel-body {
    margin-left: 30px;
    margin-right: 30px;
}

.panel-heading {
    margin-right: 20px;
    margin-left: 30px;
}

td {
    font-weight: bolder;
    color: rgb(231, 219, 219);
}

.form-group {
    margin-left: -50px;
    color: rgb(29, 5, 5);
    font-weight: bolder;
}

#submit {
    color: rgb(209, 16, 16);
}

#frequency {
    color: rgb(29, 5, 5);
}